#about-me {
    padding: 0 var(--side-space);
}

#about-me > div {
    background-color: var(--background-secundary-color);
    display: flex;
    flex-direction: column;
    padding: calc(var(--main-margin)/3);
    gap: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--main-shadow);
}

#about-me section {
    padding: calc(var(--main-margin)/3);
    border: 1px solid var(--font-color);
    border-radius: var(--border-radius);
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: justify;
}

#info img {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--main-shadow);
}

#info h4 {
    font-size: 2.5em;
    font-weight: 200;
    text-align: start;
    letter-spacing: 5px;
    word-break: keep-all;
}

#info h4 ~ p {
    font-size: 1.5em;
}

#resume {
    overflow-x: hidden;
    width: 100%;
}

#resume div {
    display: flex;
    flex-direction: row;
    width: calc(200% + 20px );
    transition: 1s;
    gap: 20px;
}

#resume p {
    font-size: 0.8em;
    width: 100%;
    display: flex;
}

@media (max-width: 768px) {
    #info {
        grid-template-columns: 1fr;
    }

}