.big-grid-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.small-grid-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    align-items: center;
}